Description=Autostart Temperature Warning on system startup

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=su - pi -c "/usr/bin/screen -dmS temp bash -c 'python3 ~/github/temperature_warning/temp.py'"
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
